<div class="devise-login">
<div class="login-form">

    <p><h1>Editing Bicycle</h1></p>

<%= render 'form', bicycle: @bicycle %>

<%# <p class="button"><%= link_to 'Show', @bicycle %1> </p? %>
<%# <p class="button"><%= link_to 'Back', bicycle_path(@bicycle) %1></p> %>

</div>
</div>
