<div class="devise-login">
<div class="login-form">


<%= form_for :contact do |f| %>
    <p>
    <%= f.text_field  :name, placeholder: "name" %>
    </p>

    <p>
    <%= f.text_area  :message, placeholder: "message" %>
    </p>

    <p >
    <%= f.submit 'send', class: "submit-button"%>
    </p>



<% end %>
</div>
</div>

