
<div class="devise-login">
<div class="login-form">

    <p><h1>add a new photo </h1><p>

<%= render 'form', photo: @photo, bicycle: @bicycle %>

<%= link_to 'Back', bicycles_path(params[:bicycle_id]) %>
</div>
</div>

