<div class="devise-login">
    <h1><p>please answer the below question </p></h1>
<div class="login-form">
<%= render 'form', query: @query, bicycle: @bicycle %>

<%# <%= link_to 'Show', @query %1> %>
<%# <%= link_to 'Back', queries_path %1> %>
</div>
</div>
