<div class="devise-login">
<div class="login-form">

    <div> new review for <%= @reviewed_user.profile.username %></div>

<%= render 'form', review: @review, user: @user, reviewed_user: @reviewed_user, reviewer: @reviewer %>

<div class="button"><%= link_to 'Back', profile_path(@reviewed_user) %>
</div>
</div>
</div>

